</main>

<div class="footer-wrapper">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
        <div class="col-md-4 d-flex align-items-center"> 
        <span class="mb-3 mb-md-0 text-body-secondary">© <%= new Date().getFullYear() %> 𝔪𝔞𝔡𝔢 𝔴𝔦𝔱𝔥 𝔩𝔬𝔳𝔢. 🩷.</span>
        </div>
        <div class="watermark">
            <a href="https://github.com/Simran-Kaur14"><img src="/images/watermark.png" height="85" width="170"></a>
        </div> 
    </footer>
</div>

</body>

</html>