<!-- a gift box leads here where she finds cake and bows and everything -->
<%- include('partials/header.ejs') %>

<div class="gifts-wrapper">
    <img class="cake-pic" src="/images/cake2.png" height="400" width="400">
    <img class="cat-pic" src="/images/cat.png">
    <img class="balloons" src="/images/balloons.png" >
</div>

<div class="note">
      <h2 class="note-h2"> Yes,  even the kitty is your gift. There's also a mini clay figurine of you, it is currently in production.</h2>
</div>






 <div class="home-button">
    <!-- home/greeting.ejs a home btn duh -->
    <a href="/options"><img src="/images/home.png" height="100" width="100"></a>
</div>


<%- include('partials/footer.ejs') %>