<!-- this is the page she sees after tapping the wax seal btn -->


<%- include('partials/header.ejs') %>

<div class="greeting-message">
    <h3></h3>
   
</div>

<div class="p-5 text-center">
   <h1 class="body-emphasis">Happy Birthday Pookie!</h1>
   <img src="/images/ter2.png" alt="picture of terry in a vintage pink frame" height="700" width="700"> 
    <p class="col-lg-8 mx-auto fs-5">To you turning into an actual adult this year! 🍷🍷</p> 
    <div class="d-inline-flex gap-2 mb-5">
     <a href="/options"><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">Get your gifts!</button></a> 
    </div> 
</div>





<%- include('partials/footer.ejs') %>
