<!-- the page that makes sure that it is terry that is here -->

<%- include('partials/header.ejs') %>  <!-- adding the header  -->


<div class="container"> 
    <div class="text-center"> 
        <img src="/images/greeting.png" alt="header telling us to tap the button if Terry" width="800" />
    </div> 
    <div class="text-center">
        <a href="/greeting"> 
             <img src="/images/button1.png" alt="vintage wax seal button" width="300" height="450" /> 
        </a>  
    </div>    
</div>

<%- include('partials/footer.ejs') %>  <!-- adding the footer  -->