<!-- the page that has a heartfelt letter, the btn for this is a letter -->

 <%- include('partials/header.ejs') %>

 <div class="letter-wrapper">
    <img src="/images/letter- background.jpg" height="1100" width="800">
 </div>

 <div class="home-button">
    <!-- home/greeting.ejs a home btn duh -->
    <a href="/options"><img src="/images/home.png" height="100" width="100"></a>
</div>

 <%- include('partials/footer.ejs') %>
 