<!-- these are the btns that lead to the other four pages of gifts, letter, photos and flowers -->
 <!-- this page has the diff btns and is styled accordingly.. -->

<%- include('partials/header.ejs') %>
<div class="buttons-wrapper">
    <h1 class="buttons-title"> Choose what you wanna see first:</h1>
    <div class="buttons">
        <!-- gifts a gift box -->
        <a href="/gifts"><img src="/images/gift.png" height="400" width="400"></a>
        <!-- flowers  a boqute of flowers-->
        <a href="/flowers"><img src="/images/flowers.png" height="400" width="300"></a>
        <!-- letter a lettter -->
        <a href="/letter"><img src="/images/letter.png" height="400" width="400"></a>
        <!-- photos a camera  -->
        <a href="/photos"><img src="/images/camera.png" height="400" width="400"></a>
    </div>
</div>





<%- include('partials/footer.ejs') %>

