<!-- these are photos of terry in different frames  -->

 <%- include('partials/header.ejs') %>

<div class="photo-frame">
    <img src="/images/photo-frame.png">
</div>

<div class="wishes">
    <h3 class="wishes-note">Again pookie, have a really happy birthday. I didn't know what to get you, but I hope you love the site! Have an awesome one!</h3>
</div>


 <div class="home-button">
    <!-- home/greeting.ejs a home btn duh -->
    <a href="/options"><img src="/images/home.png" height="100" width="100"></a>
</div>


 <%- include('partials/footer.ejs') %>